<p style="padding-left:15px"> 
   <a href="#admin"  class="btn btn-primary">Home</a>
</p>
<div class='container'>
	<div class='panel panel-primary dialog-panel'>
		<div class='panel-heading'><h5>Add Owner</h5></div>
		<div class='panel-body'>
			<form class='form-horizontal'  name="addOwnerForm">
				<div class='form-group'>
					<label class='control-label col-md-2 col-md-offset-2'
						for='id_title'>Name</label>
					<div class='col-md-8'>
						<div class='col-md-3 indent-small'>
							<div class='form-group internal'>
								<input class='form-control' id='id_name' ng-model="addOwnerCtrl.owner.name" placeholder='Name' type='text' ng-required="true">
							</div>
						</div>
						<div class='col-md-3 indent-small'>
							<div class='form-group internal'>
								<input class='form-control' id='id_surname' ng-model="addOwnerCtrl.owner.surname" placeholder='Surname' type='text' ng-required="true">
							</div>
						</div>
					</div>
				</div>
				<div class='form-group'>
					<label class='control-label col-md-2 col-md-offset-2'
						for='id_email'>Email</label>
					<div class='col-md-6'>
						<div class='form-group'>
							<div class='col-md-11'>
								<input class='form-control' id='id_email' placeholder='Email' ng-model="addOwnerCtrl.owner.email"  type='email' ng-required="true">
							</div>
						</div>
					</div>
				</div>
				<div class='form-group'>
					<label class='control-label col-md-2 col-md-offset-2' for='id_email'>Password</label>
					<div class='col-md-6'>
						<div class='form-group'>
							<div class='col-md-11'>
								<input class='form-control' id='id_password' placeholder='Password' ng-model="addOwnerCtrl.owner.password" type='password' ng-required="true">
							</div>
						</div>
					</div>
				</div>
				<div class='form-group'>
					<label class='control-label col-md-2 col-md-offset-2' for='id_phone'>Phone</label>
					<div class='col-md-6'>
						<div class='form-group internal'>
							<div class='col-md-11'>
								<input class='form-control' id='id_phone' placeholder='Phone: (xxx) - xxx xxxx' type='number'  ng-model="addOwnerCtrl.owner.phone" ng-required="true">
							</div>
						</div>
					</div>
				</div>
				<div class='form-group'>
					<div class='col-md-offset-4 col-md-3'>
						<button class='btn btn-primary' ng-click="addOwnerForm.$valid && addOwnerCtrl.addOwner()" type='submit'>Add</button>
						<button class='btn btn-danger'  ng-click="addOwnerCtrl.cancel()" style='float: right' type='button'>Cancel</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>