<div class="container" ng-init="init()" >
	<div class="row" style="margin-bottom:30px">
        <div >
    		<h2 style="text-align: center;">Search a Restaurant</h2>
            <div id="custom-search-input">
                <div class="input-group">
                    <input type="text" class="form-control input-lg" placeholder="Buscar"  ng-model="searchValue"/>
                    <span class="input-group-btn">
                        <button class="btn btn-info btn-lg" type="button"  ng-click="search(searchValue)">
                            <i class="glyphicon glyphicon-search"></i>
                        </button>
                    </span>
                </div>
            </div>
        </div>
	</div>
	<div class="list-group" style="width: 70%;margin: auto;padding-bottom: 60px;" ng-if="restaurants!=null"  ng-repeat="restaurant in restaurants" >
				<div style="margin-bottom: 42px;">
					<a 	class="list-group-item list-group-item-action active">
	   						 <h5 class="list-group-item-heading">{{restaurant.name}}
	   						 <span class="label label-success" style="float: right;">{{restaurant.numberOfReviews}}</span>
	   						 <span style="float: right;padding-right: 70px;">{{restaurant.address}}</span>
	   						 </h5>
	   						 <p class="list-group-item-text">{{restaurant.description}}</p>
	  				</a>
					<button  style="float: right;" class="btn btn-warning" ng-click="addReview(restaurant)">Add Review</button>
				</div>
	 </div>
</div>